.channelPrice {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    color: #3D3D3D;
    padding: 5px;
    margin-left: auto;
  }